@import "../../vars.css";

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex; 
    align-items: center;
    justify-content: space-between; /* will put space between portflio and the navbar optuons*/
    padding: 20px; 
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 0.5px solid rgba(45, 45, 45, 0.5);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background: rgba(45, 45, 45, 0.47);
    /* backdrop-filter: blur(10px); */
    transition: 0.1s;
}

.navbarscroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex; 
    align-items: center;
    justify-content: space-between; /* will put space between portflio and the navbar optuons*/
    padding: 15px; 
    padding-left: 5%;
    padding-right: 5%;
    background: rgba(45, 45, 45, 0.47);
    backdrop-filter: blur(10px);
}

.title {
    font-size: 30px; 
    font-weight: 400; 
    text-decoration: none;
    font-family: "Linden Hill", serif;
    color: var(--color-text);
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 48px; 
    list-style: none; /*Gets rid of bullet points*/
}

.menuItems a {
    font-size: 25px; 
    color: var(--color-text);
    text-decoration: none;
    font-family: "Linden Hill", serif;
}

/* creating underline animation for navbar */
.menuItems a::after {
   content: ''; 
   height: 1px;
   background: rgb(255,255,255);
   display: block;
   left: 0;
   bottom: -2px;
   opacity: 0;
   transform: scaleX(0);
   transform-origin: left;
   transition: transform 0.3s;
   pointer-events: none;
}

.menuItems a:hover::after {
    opacity: 1;
    transform: scaleX(1);
 }

 /*  */

 /* Mediqueries makes websites reponsive. It means we give diff styles to our websites based on width of page */

 @media screen and (max-width: 830px) {
    .navbar { /*keeps all original ones plus new ones defined here */
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right:0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuButton {
        display: block;
        cursor: pointer;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center; 
        gap: 13px; 
        border-radius: 10px;
        background: rgb(25, 55, 109);
        background: linear-gradient(0deg, rgba(25, 55, 109, 0.2) 0%, 
        rgba(25, 55, 109, 1) 100%);
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);

    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }
 }